nav li {
    display: inline;
    margin-right: 15px;
    text-align: center;

}

header {
    background-color: #414564;
    padding: 10px 0;
}

header h1 {
    color: #E8DDB5;
    text-align: left;
    margin: 0;
}

a {
    color: #af9ab2;
}

nav {
    text-align: center;
    margin-top: 10px;
    color: #af9ab2;
}

body {
    background-color: #484D6D;
    margin: 0;
}

p {
    color: #E8DDB5;
}

h1 {
    color: #af9ab2;
}



footer {
    background-color: #484D6D;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}