header {
    background-color: #484D6D;
    padding: 10px 10px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

body {
    background-color: #484D6D;
    margin: 0;
}

nav li {
    ;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

a {
    color: #E8DDB5;
}

section {
    margin: 80px 300px;
}

h1 {
    color: #E8DDB5;
    font-size: 40px;
}

h2 {
    color: #E8DDB5;
    font-size: 70px;
    font-family: 'Gotham,tahoma,sans-serif';
}

h3 {
    color: #E8DDB5;
    font-size: 25px;
}

p {
    color: #E8DDB5;
    font-size: 30px;
}

footer {
    background-color: #484D6D;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

p4 {
    color: #E8DDB5;
    font-size: 20px;
}
