header {
    background-color: #484D6D;
    padding: 10px 0;
}

body {
    background-color: #484D6D;
    margin: 0;
}

header h1 {
    color: #E8DDB5;
    text-align: left;
    margin: 60px 80px;
}

header h1 {
    color: #E8DDB5;
    text-align: left;
    margin: 60px 80px;
}

nav li {
    display: inline;
    margin: 60px 50px;
    text-align: ;

}

a {
    color: #E8DDB5;
}

section {
    margin: 80px 300px;
}

p {
    color: #E8DDB5;
    font-size: 30px;
}

footer {
    background-color: #484D6D;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

p1 {
    color: #E8DDB5;
    font-size: 20px;
}